@import 'darkModeColors';

$lighterGray: #202426;

$height: 17em;
$width: 80vw;
$transition: ease; 


//inserting pics in css
#firstPic {
  background-image: url("../img/nous.jpg");
}
#secondPic {
  background-image: url("../img/thispage.png");
}
#thirdPic {
  background-image: url("../img/vmi.png");
}

.showcase{
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: $width;
  min-height: $height;
  margin: 1em auto;
  overflow: hidden;
  background: transparent;
  border-bottom: 3px solid $coloroscuro;
}
.thumbnail {
  position: relative;
  min-height: 30vh;
  flex-grow: 1;
  background-position: 50% 50%;
  background-size: cover;
  transition: transform 0.3s ease;
}
.thumbOverlay{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba($color: $colorprimario, $alpha: 0.5);
  text-align: center;
  opacity: 0;
  transition: opacity 250ms $transition;
  z-index: 2;
  justify-content: center;
  align-items: center;
}
.desc {
  position: relative;
  justify-content: center;
  min-width: 30vw;
  padding: 20px;
  z-index: 3;
  background: $colorfondo;
  text-align: center;
  transition: background 250ms $transition, color 250ms, width 250ms $transition, padding 250ms $transition;
}
.desc::before {
   z-index: 10;
    content: "";
  position: absolute;
  top: -10px; /* Position the arrow above the .desc element */
  left: 50%; /* Position the arrow horizontally centered */
  transform: translateX(-50%); /* Center the arrow horizontally */
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent $colortexto transparent; /* Adjust the color as needed */
}
.showcaseInverted .desc::before {
  display: none;
}
// for inverted showcase
.showcaseInverted .desc::after {
  z-index: 10;
  content: "";
  position: absolute;
  bottom: -20px; //separating it from desc block
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color:  $colortexto transparent transparent transparent;

}
.showcase:hover{
  .thumbnail {
    transform: translateY(-10%);
  }
  .thumbOverlay {
    opacity: 1;
  }
  .desc {
    height: 120%;
    margin-top: -10%;
    padding-top: 45px;
    padding-bottom: 45px;
    
    background: $lighterGray;
    
    color: $colortexto;
    
    &::before {
      //transform: translateY(-10%);
      top: -20px;
      bottom: auto;
      border-color: transparent transparent $lighterGray   transparent;
    }

  }
  .desc span {
    transform: scaleY(0.1);
  }
}
.showcaseInverted:hover {
  .thumbnail {
    transform: translateY(10%);
  }
  .thumbOverlay {
    opacity: 1;
  }
  .desc {
    height: 120%;
    margin-top: 0;
    margin-bottom: -10%;
    padding-top: 45px;
    padding-bottom: 45px;


    &::after {
      bottom: -20px;
      top: auto;
      border-color:  $lighterGray transparent transparent transparent;
    }
  }
  .desc span {
    transform: scaleY(0.1);
  }
}
// this works nicely! 
.btn {
  padding: 1em 2em;
  
  border: 0.15em solid $colorsecundario;
  
  color: $colortexto;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  
  transition: background 250ms;
  
  &:hover {
    background: rgba(0,0,0,0.8);
  }
}



//pc screen
@media only screen and (min-width: 40em) {
  
.showcase {
  display: flex;
  flex-direction: row;
  border-bottom: none;
}


.thumbnail {
  min-width: 50vw;
  max-width: 70vw;
  flex-grow: 1;

}

.desc::before {
  top: 50%;
  left: -20px; 
  transform: translateY(-50%);
  transform: translateX(0);
  /*width: 0;
  height: 0;*/
  border-color: transparent $colortexto transparent transparent;
}
// for inverted showcase
.showcaseInverted .desc::after {
  //top: 50%;
  bottom: 50%;
  right: -20px;
  left: 100%;
  transform: translateX(0);
  transform: translateY(-50%);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid $colortexto;
}
.showcase:hover{
  .thumbnail {
    //transform: translateY(0);
    transform: translateX(-10%);
  }
  .desc {
    //transform: scaleX(1.2);
    height: auto;
    width: 120%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -10%;
    padding-left: 45px;
    padding-right: 45px;
    
    background: $lighterGray;
    
    color: $colortexto;
    
    &::before {
      //50 50 so that it stays centered
      top: 50%;
      bottom: 50%;
      //moves it to the left
      left: -20px;
      right: auto;
      border-color: transparent $lighterGray transparent transparent;
    }
    
  }
  .desc span {
    transform: scaleX(0.1);
  }
}
.showcaseInverted:hover {
  .thumbnail {
    transform: translateY(0);
    transform: translateX(10%);
  }
  .thumbOverlay {
    opacity: 1;
  }
  .desc {
    margin-left: 0;
    margin-right: -10%;
    
    background: $lighterGray;
    color: $colortexto;
    
    &::after {
      top: 50%;
      bottom: 50%;
      right: -20px;
      left: auto;
      border-color: transparent  transparent transparent $lighterGray;
    }
  }
  .desc span {
    transform: scaleX(0.1);
  }
}
}