#firstPic {
  background-image: url("../img/nous.jpg");
}

#secondPic {
  background-image: url("../img/thispage.png");
}

#thirdPic {
  background-image: url("../img/vmi.png");
}

.showcase {
  flex-direction: column;
}

.btn {
  padding: 1em 2em;
  border: 0.15em solid #F9A933;
  color: #d9d9d9;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  transition: background 250ms;
}
.btn:hover {
  background: rgba(0, 0, 0, 0.8);
}

@media only screen and (min-width: 40em) {
  .showcase {
    display: flex;
    flex-direction: row;
    max-width: 80vw;
    height: 17em;
    margin: 1em auto;
    overflow: hidden;
    background: transparent;
  }
  .thumbnail {
    min-width: 50vw;
    max-width: 70vw;
    flex-grow: 1;
    background-position: 50% 50%;
    background-size: cover;
    transition: transform 0.3s ease;
  }
  .thumbOverlay {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(22, 100, 100, 0.5);
    text-align: center;
    opacity: 0;
    transition: opacity 250ms ease;
    z-index: 2;
    justify-content: center;
    align-items: center;
  }
  .desc {
    position: relative;
    justify-content: center;
    min-width: 30vw;
    padding: 20px;
    z-index: 3;
    background: #1e1e1e;
    text-align: center;
    transition: background 250ms ease, color 250ms, width 250ms ease, padding 250ms ease;
    /*&:after {
      z-index: 4;
      content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #f2f2f2;
      /*display: block;
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      left: -20px;
      margin-top: -10px;
      border-style: solid;
      border-width: 10px;
      border-color: transparent #fff transparent transparent;
      content: "";
      transition: border-color 250ms;
    }*/
  }
  .desc::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px; /* Adjust as needed */
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-color: transparent #f2f2f2 transparent transparent;
  }
  .desc::after {
    z-index: 4;
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #f2f2f2;
  }
  .showcase:hover .thumbnail {
    transform: translateX(-10%);
  }
  .showcase:hover .thumbOverlay {
    opacity: 1;
  }
  .showcase:hover .desc {
    width: 120%;
    margin-left: -10%;
    padding-left: 45px;
    padding-right: 45px;
    background: #202426;
    color: #fff;
  }
  .showcase:hover .desc::before {
    border-color: transparent #202426 transparent transparent;
  }
  .showcase:hover .desc::after {
    border-color: transparent #202426 transparent transparent;
  }
  .showcase:hover .desc span {
    transform: scaleX(0.1);
  }
  .showcaseInverted:hover .thumbnail {
    transform: translateX(10%);
  }
  .showcaseInverted:hover .thumbOverlay {
    opacity: 1;
  }
  .showcaseInverted:hover .desc {
    width: 120%;
    margin-left: 0;
    margin-right: -10%;
    padding-left: 45px;
    padding-right: 45px;
    background: #202426;
    color: #fff;
  }
  .showcaseInverted:hover .desc::before {
    border-color: transparent #202426 transparent transparent;
  }
  .showcaseInverted:hover .desc::after {
    right: -10px;
    left: auto;
    border-color: transparent #202426 transparent transparent;
  }
  .showcaseInverted:hover .desc span {
    transform: scaleX(0.1);
  }
}/*# sourceMappingURL=showcase.css.map */