$colorfondo: #1e1e1e;
$colorprimario: #166464;
$colorsecundario: #F9A933;
$colortexto: #d9d9d9;
$size: 15vw;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /*PAGINA PRINCIPAL*/
  body {
    background-color: $colorfondo;
    color: $colortexto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
  }
  .headertext {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
  }
  .hero {
    font-size: 2rem;
    min-width: 100%;
    min-height: 100vh;
    background-image: url("../img/yards.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   /* background-image: linear-gradient(to right, url("../img/yards.jpg") 0%, url("../img/yards.jpg") 50%,*/
     /*$colorfondo 50%, $colorfondo 100%);*/
  }
  a {
    font-size: 2em;
    color: $colorprimario;
  }
  a:hover {
    color: $colorsecundario;
  }
  h1{
    color: $colorsecundario;
    font-size: 10vw;
    margin-bottom: 0.5em;
  }
  h2 {
    font-size: 1.5em;
    border-left: 4px solid $colorprimario;
    padding-left: 10px; 
    margin: 1em 0 1em 0;
  }
  ul {
    /*w/o this the bullet for each list element would be outside the container for the ul*/
    list-style-position: inside;
 }
  section {
    /*lineas al principio y final de cada section en el fondo*/
    /*background-image:linear-gradient($colorprimario 0em, $colorprimario 4em, hsla(0, 0%, 0%, 0) 4em,  hsla(0, 0%, 0%, 0) 20em, $colorprimario 20em, $colorprimario 21em);*/
   /* min-height: 100vh;*/
    margin-top: 4em;
    margin-bottom: 4em;
    margin-right:auto;
    margin-left:auto;
    max-width: 90vw;
    min-height: 50vh;
  }
  section::before{
    content: "";
    background: $colorprimario;
    /*w/o width n height it wouldnt show up since there is no content*/
    width: 100%;
    height: 1em;
    font-size: 20px;
    display: block;
    margin: 1em 0 1em 0;
    flex: 0 0 100%;
  }
  section::after{
    content: "";
    background: $colorprimario;
    width: 100%;
    height: 1em;
    font-size: 5px;
    display: block;
    margin: 1em 0 1em 0;
    flex: 0 0 100%;
  }
  footer {
    background-image: linear-gradient($colorfondo, $colorprimario);
    text-align: center;
  }
  hr {
    margin: 2em;
    border: solid $colorprimario 2px;
  }
  .baseGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .barImg {
    width: 100vw;
    height: 10vh;
    object-fit: cover;
  }
  .commLink {
    position: relative;
  }
  a {
    color: $colorsecundario;
    text-decoration: none;
  }
  .commLink::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: $colorsecundario;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  @media (hover: hover) and (pointer: fine) {
    .commLink:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
  }
  #artComms {
    text-align: center;
  }
/*INTRODUCTION GRID*/
.introGrid {
  grid-template-areas: "gen gen img img"
                        "gen gen img img"
                        "lft lft rght rght";
  grid-gap: 1em;
  justify-content: center;
}
#generalIntro {
  grid-area: gen;
}
#leftIntro {
  grid-area: lft;
}
#rightIntro {
  grid-area: rght;
}
.introGrid > img {
  grid-area: img;
  width: 20vw;
  display: block;
  margin: auto;
}

/*INFO GRID*/
.infoRow {
  grid-column: span 3;
}
.rightInfoRow {
  grid-column-start: 2;
  grid-column-end: 5;
}
.diamondImg {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  width: 15vw;
  transform: rotate(45deg);
  overflow: hidden;
}
.diamondImg img {
  max-width: 15vw;
  transform: rotate(-45deg) scale(1.42);
}
/*ABOUT ME*/
#aboutMe::before{
  display: none;
}
#aboutMe {
  max-width: 70vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 3em;
  grid-template-areas: "info"
  "tech"
  "img";
  align-items: center;
  justify-content: center;
  margin: 0 auto;  
}
#aboutMe .diamondImg img{
  max-height: 50vh;
  min-height: 10vh;
  grid-area: img;
  text-align: center;
  padding: 20px;
}
@media only screen and (min-width: 40em) {
  #aboutMe{
    grid-template-columns: repeat(1fr, 4);
  grid-column-gap: 3em;
  grid-template-areas: "info info img img"
  "info info img img"
  "info info tech tech"
  "info info tech tech";
  }
  #aboutMe .diamondImg img{
    max-height: 30vh;
    grid-area: img;
    text-align: center;
    padding: 20px;
  }
}

#infoAM {
  grid-area: info;
}


#technologies {
  grid-area: tech;
}
  /*MASONRY - IMAGE LAYOUT*/
  .imageMasonry {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 40vw;
    grid-auto-flow: dense;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .imageMasonry > figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .imageMasonry > figure > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  .imageMasonry > figure > figcaption {
    background-color: $colorprimario;
    color: $colortexto;
    padding: 0.5em;
    width: 100%;
  }
  .imageMasonry .wide {
    grid-column: span 2;
  }
  .imageMasonry .tall {
    grid-row: span 2;
  }
  .imageMasonry .big {
    grid-column: span 2;
    grid-row: span 2;
  }
/*SIDENAV*/
#openSideNav {
  color: $colorsecundario;
  font-weight: 300;
  position: fixed;
  z-index: 2;
  top: 1em;
  left: 1em;
  cursor: pointer;
}
.sidenav {
  height: 100%; 
  width: 0; /* this will change with js*/
  position: fixed; 
  z-index: 3;
  top: 0;
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; 
  transition: 0.5s; /*slide in the sidenav */
  background-color: $colorfondo;
}
.sidenav ul {
  list-style-type: none;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 2em;
  color: $colortexto;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: $colorsecundario;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*this is for project showcase*/
$height: 17em;
$width: 90vw;
$transition: ease; //cubic-bezier(0.250, 0.250, 0.660, 1.650);

// Wrapper
.showcase {
  position: relative;
  max-width: $width;
  min-height: $height;
  margin: 1em auto;
  overflow: hidden;
  
  background: transparent;
}

// Thumbnails
.thumbnail {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 300px;
  z-index: 1;
  
  background: $colorprimario;
  background-position: 50% 50%;
  background-size: cover;
  
  transition: right 250ms $transition, left 250ms $transition;
}

.thumbnail__overlay {
  position: relative;
  padding-top: calc($height / 2) - 0.5em;
  height: 100%;
  
  background: $colorprimario;
  
  text-align: center;
  
  opacity: 0;
  
  transition: opacity 250ms $transition;
}

// Description
.desc {
  position: absolute;
  max-width: 30em;
  height: 100%;
  top: 0;
  right: 0;
  padding: 20px;
  z-index: 2;
  
  background: $colorfondo;
  color: $colortexto;
  
  text-align: center;
  
  transition: background 250ms $transition, color 250ms, width 250ms $transition, padding 250ms $transition;
  
  &:after {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: -20px;
    margin-top: -10px;
    border-style: solid;
    border-width: 10px;
    border-color: transparent #fff transparent transparent;
    content: "";
    transition: border-color 250ms;
  }
}

.showcase:hover {
  
  .thumbnail {
    right: 325px;
    left: -25px;
  }
  .thumbnail__overlay {
    opacity: 1;
  }
  .desc {
    max-width: 30em;
    padding-left: 45px;
    padding-right: 45px;
    
    background: $colorprimario;
    
    color: $colortexto;
    & h3 {
      color:$colorsecundario;
    }
    
    &:after {
      border-color: transparent #202426 transparent transparent;
    }
  }
}


// left side info right side img
.showcase--inverted .thumbnail {
  right: 0;
  left: 300px;
}

.showcase--inverted .desc {
  max-width: 30em;
  left: 0;
  right: auto;
  & h3 {
    color:$colorsecundario;
  }
  &:after {
    left: auto;
    right: -20px;
    border-color: transparent transparent transparent #fff;
  }
}

.showcase--inverted:hover {
  
  .thumbnail {
    left: 325px;
    right: -25px;
  }

  .desc {
    
    &:after {
      border-color: transparent transparent transparent $colorsecundario;
    }
  }
}

// Button styling
.btn {
  padding: 1em 2em;
  border: 0.15em solid $colortexto;
  
  color: $colortexto;
  text-decoration: none;
  font-weight: 700;
  font-size: 2vh;
  transition: background 250ms;
  
  &:hover {
    background: rgba(0,0,0,0.6);
  }
}
@media only screen and (max-width: 600px)  {
  .desc {
    max-width: 40vw;
  }
  .thumbnail {
    width: auto;
  }
}
